#body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-content: center;
    flex-direction: column;
}

#header{
    display: flex;
    flex-direction: row;
    padding: 30px;
    font-size: 30px;
}

#header-img{
    margin-right: 30px;
}

#nav-bar{
    align-content: flex-end;
    margin-left: 30px;
}



@media only screen and(max-width:200px){
    
}

